html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
  
    position: relative;
    
    font-family: 'Noticia Text', Arial, sans-serif;
}

.flex {
    display: flex;
    gap: 1rem;
}

img, video {
    max-width: 100%;
}

.background-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.the-container {
    padding: 20px;
    background-color: white;
    z-index: 1000;
}